@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: ted;
  --title: #222;
  --bg: white;
  --link: #d23669;
  --pink: lab(63 59.32 -1.47);
  --purple: lab(33 42.09 -43.19);
}
.dark {
  &:root {
    --text: #ffffffE0;
    --title: white;
    --bg: rgb(40, 44, 53);
    --link: #ffa7c4;
    --pink: lab(81 32.36 -7.02);
    --purple: lab(78 19.97 -36.75);
  }
}

@property --myColor1 {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}
@property --myColor2 {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}
.dark {
  @property --myColor1 {
    syntax: "<color>";
    initial-value: #ffffffE0;
    inherits: false;
  }
  @property --myColor2 {
    syntax: "<color>";
    initial-value: #ffffffE0;
    inherits: false;
  }
}

.dark {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}